
  <div class="modal-header">
    <h5 class="modal-title">
      <i class="far fa-edit"></i>
      Add new Bank
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form #addAgentForm="ngForm" novalidate>
 

          <div class="form-group row" [class.has-error]="name.invalid && name.touched">
            <label for="name" class="col-sm-3 col-form-label control-label">Bank Name </label>
            <div class="col-sm-9">
              <input required id="name" type="text" class="form-control" placeholder="Name" name="name"
                [(ngModel)]="data.name" #name="ngModel" [ngClass]="{'error': name.invalid && name.touched}">
            </div>
          </div>

          <div class="form-group row" [class.has-error]="branchCode.invalid && branchCode.touched">
            <label for="branchCode" class="col-sm-3 col-form-label control-label">Branch Code </label>
            <div class="col-sm-9">
              <input required id="branchCode" type="text" class="form-control" placeholder="Bank Branch Code" name="branchCode"
                [(ngModel)]="data.branchCode" #branchCode="ngModel" [ngClass]="{'error': branchCode.invalid && branchCode.touched}">
            </div>
          </div>

          <div class="form-group row" [class.has-error]="branchName.invalid && branchName.touched">
            <label for="branchName" class="col-sm-3 col-form-label control-label">Branch Name </label>
            <div class="col-sm-9">
              <input required id="branchName" type="text" class="form-control" placeholder="Bank Branch Name" name="branchName"
                [(ngModel)]="data.branchName" #branchName="ngModel" [ngClass]="{'error': branchName.invalid && branchName.touched}">
            </div>
          </div>

          <div class="form-group row" [class.has-error]="location.invalid && location.touched">
            <label for="location" class="col-sm-3 col-form-label control-label">Location</label>
            <div class="col-sm-9">
              <input required id="location" type="text" class="form-control" placeholder="Bank Location" name="location"
                [(ngModel)]="data.location" #location="ngModel" [ngClass]="{'error': location.invalid && location.touched}">
            </div>
          </div>

          <div class="form-group row" [class.has-error]="address.invalid && address.touched">
            <label for="address" class="col-sm-3 col-form-label control-label">Address </label>
            <div class="col-sm-9">
              <input required id="address" type="text" class="form-control" placeholder="Bank Address" name="address"
                [(ngModel)]="data.address" #address="ngModel" [ngClass]="{'error': address.invalid && address.touched}">
            </div>
          </div>

      <div class="form-group row">
        <label for="details" class="col-sm-3 col-form-label">Details</label>
        <div class="col-sm-9">
          <textarea required class="form-control" id="details" rows="3" name="details"
            [(ngModel)]="data.details" #details="ngModel"></textarea>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn button-save" type="submit" (click)="addBank()">
         Save Bank
        </button>
      </div>
    </form>
  </div>
