<div class="content-header p-4">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h3 class="m-0 ">Bank Accounts </h3>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <div class="ibox-content">
    <div class=" panel blank-panel">  
      <div class=" panel-heading">
        <table class="table">
            <tbody>
                <tr>
                    <td  >
                        <button type="button" class="btn btn-primary m-r-sm text-s-md px-3"> 
                        <i class="fas fa-user-tie"></i>{{listCount}}</button>
                        <span class="text-muted text"> Account</span>
                    </td>
                    <td>
                        <button type="button" class="btn  m-r-sm text-s-md px-3"> </button>
                        <span class="text-muted text"></span>
                    </td>
                    <td >
                        <button type="button" class="btn btn-primary btn-md float-right" (click)="addAccountForm()"  >
                          <i class="fa fa-plus" ></i> Add New Account</button>
                    </td>
                </tr>
            </tbody>
        </table>



        <ngx-datatable #myTable class="material" [columns]="columns" [rows]="rows" [columnMode]="'force'" 
        [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="'auto'" [limit]="10">

      <ngx-datatable-column name="S. No." [width]="20" > 
          <ng-template let-row="row"  ngx-datatable-cell-template>
            {{row.id}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Account Name" [width]="80">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.accountName}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Account No" [width]="80">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.accountNumber}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="IBAN" [width]="80">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.iban}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Swift Code" [width]="80">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.swiftCode}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Account Type" [width]="80">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              {{row.type}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Bank" [width]="80">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              {{row.bankId}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Branch" [width]="80">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              {{row.details}}
            </ng-template>
          </ngx-datatable-column>
        <ngx-datatable-column name="Action" [width]="80">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <button type="button" class="btn editIconBack" (click)=" editAccountForm(row)">
              <i class="far fa-edit "></i>
            </button>
            <button type="button" class="btn deleteIconBack" (click)="deleteAccount(row)" >
              <i class="far fa-trash-alt"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>      