      <!-- Modal -->
      <form #sellerEditForm="ngForm" novalidate>
        <div class="modal-header">
          <h5 class="modal-title" > 
              <i class="far fa-edit"></i>
                Edit Seller</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <label for="sellerCode" class="col-sm-3 col-form-label">Seller Code<span>*</span></label>
                <div class="col-sm-9">
                  <input required id="sellerCode" type="text" class="form-control " placeholder="Code" name="sellerCode"
                  [(ngModel)]="data.sellerCode" #code="ngModel" [ngClass]="{'error': code.invalid && code.touched}">
                </div>
              </div>

              <div class="form-group row">
                <label for="sellerName" class="col-sm-3 col-form-label">Seller Name<span>*</span></label>
                <div class="col-sm-9">
                  <input required id="sellerName" type="text" class="form-control" placeholder="Name" name="sellerName"
                  [(ngModel)]="data.sellerName" #name="ngModel" [ngClass]="{'error': name.invalid && name.touched}">
                </div>
              </div>

              <div class="form-group row">
                <label for="billingAddress" class="col-sm-3 col-form-label">Billing Address<span>*</span></label>
                <div class="col-sm-9">
                  <textarea required class="form-control" id="billingAddress" rows="3" name="billingAddress"
                  [(ngModel)]="data.billingAddress" #billingAddress="ngModel"
                  [ngClass]="{'error': billingAddress.invalid && billingAddress.touched}"></textarea>
                </div>
              </div>

              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Country<span>*</span></label>
                <div class="col-sm-9">
                    <select name="country " class="form-control" [(ngModel)]=" data.countryId">
                        <option value="null" disabled> Select Country</option>
                        <option *ngFor="let i of country" [value]="i.name">
                          {{i.name}}
                        </option>
                    </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="contactNoPrimary" class="col-sm-3 col-form-label">Contact Nos.<span>*</span></label>
                <div class="col-sm-4">
                  <input required type="text" class="form-control" id="contactNoPrimary" placeholder="Contact No."
                    name="contactNoPrimary" [(ngModel)]="data.contactNoPrimary" #contactNoPrimary="ngModel"
                    [ngClass]="{'error': contactNoPrimary.invalid && contactNoPrimary.touched}">
                </div>
                <div class="col-sm-4 ml-2">
                  <input type="text" class="form-control" id="contactNoSecondary" placeholder="Other Contact No."
                    name="contactNoSecondary" [(ngModel)]="data.contactNoSecondary" #contactNoSecondary="ngModel"
                    [disabled]=" contactNoPrimary.invalid">
                </div>
              </div>

              <div class="form-group row">
                <label for="faxNumber" class="col-sm-3 col-form-label">Fax Number</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="faxNumber" placeholder="seller Fax No." name="faxNumber"
                  [(ngModel)]="data.faxNumber" #faxNumber="ngModel">
                </div>
              </div>

              <div class="form-group row">
                <label for="ntnNumber" class="col-sm-3 col-form-label">NTN/GST Nos.</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="ntnNumber" placeholder="NTN No." name="ntnNumber"
                  [(ngModel)]="data.ntnNumber" #ntnNumber="ngModel">
                </div>
                <div class="col-sm-4 ml-2">
                  <input type="text" class="form-control" id="gstNumber" placeholder="GST No." name="gstNumber"
                  [(ngModel)]="data.gstNumber" #gstNumber="ngModel">
                  </div>
              </div>

              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Machine Details</label>
                <div class="col-sm-9">
                    <select class="form-control" [(ngModel)]="data.machineId">
                        <option>Select Machine Details</option>
                        <option>Sweden</option>     
                    </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Capabilities</label>
                <div class="col-sm-9">
                    <select class="form-control" [(ngModel)]="data.capabilitiesId">
                        <option>Nothing Selected</option>
                        <option>Sweden</option>     
                    </select>
                </div>
              </div>  

              <div class="form-group row">
                <label for="majorStrength" class="col-sm-3 col-form-label">Major Strenghts</label>
                  <div class="col-sm-9">
                    <textarea  class="form-control" id="majorStrength" rows="3" name="majorStrength"
                    [(ngModel)]="data.majorStrength" #majorStrength="ngModel"></textarea>
                  </div>
              </div>
              
              <div class="form-group row">
                <label for="leadTime" class="col-sm-3 col-form-label">Leadtime / MOQ</label>
                <div class="col-sm-9">
                  <textarea class="form-control" id="leadTime" rows="3" name="leadTime"
                  [(ngModel)]="data.leadTime" #leadTime="ngModel"></textarea>
                </div>
              </div>
              
              <div class="form-group row">
                <label for="sellerDetails" class="col-sm-3 col-form-label">Seller Details</label>
                <div class="col-sm-9">
                  <textarea class="form-control" id="sellerDetails" rows="3" name="sellerDetails"
                  [(ngModel)]="data.sellerDetails" #sellerDetails="ngModel"></textarea>
                </div>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input check-btn" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">Parent Buyer</label>
              </div>

              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Parent Seller</label>
                <div class="col-sm-9">
                    <select class="form-control" [(ngModel)]="parentSellerId">
                        <option> Ali</option>
                        <option> Ali</option>  
                        <option> Ali</option>       
                        <option> Ali</option>  
                        <option> Ali</option>  
                    </select>
                </div>
              </div>
          

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.close()">Close</button>
          <button type="button" class="btn btn-success" [disabled]="sellerEditForm.invalid" 
                  (click)="updateSeller()">Update Seller</button>
        </div>
        </div>
  </form>   
    