<div class="content-header p-4">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h3 class="m-0 ">Certificate </h3>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <div class="ibox-content">
    <div class=" panel blank-panel">  
      <div class=" panel-heading">
        <table class="table">
            <tbody>
                <tr>
                    <td  >
                        <button type="button" class="btn btn-primary m-r-sm text-s-md px-3"> 
                        <i class="fas fa-user-tie"></i>{{listCount}}</button>
                        <span class="text-muted text">Certificate</span>
                    </td>
                    <td>
                        <button type="button" class="btn  m-r-sm text-s-md px-3"> </button>
                        <span class="text-muted text"></span>
                    </td>
                    <td >
                        <button type="button" class="btn btn-primary btn-md float-right" (click)="addCertificateForm()"
                        ><i class="fa fa-plus"></i> Add New Certificate</button>
                    </td>
                </tr>
            </tbody>
        </table>




        <ngx-datatable #myTable class="material" [columns]="columns" [rows]="rows" [columnMode]="'force'" 
        [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="'auto'" [limit]="10">

      <ngx-datatable-column name="S. No." [width]="5" prop="code" > 
          <ng-template let-row="row"  ngx-datatable-cell-template>
            {{row.code}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Certificate Name" [width]="40">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.name}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Details" [width]="20">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.description}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status" [width]="10">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.description}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Changed On | Changed By" [width]="80">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{myDate | date:'medium'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action" [width]="80">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <button type="button" class="btn editIconBack" (click)="editCertificateForm(row)">
              <i class="far fa-edit "></i>
            </button>
            <button type="button" class="btn deleteIconBack" (click)="deleteCertificate(row)">
              <i class="far fa-trash-alt"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>      

