<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a id="menu-bg" class="nav-link" data-widget="pushmenu" ><i class="fas fa-bars" style="color:white;"></i></a>
      </li>
      <!-- <li class="nav-item  d-sm-inline-block">
        <a routerLink="home" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a routerLink="list" class="nav-link">User List</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a routerLink="video" class="nav-link">Videos</a>
      </li> -->
    </ul>

                                         <!-- Search Form -->

        
    <form class="form-inline ml-4 pt-2">
      <div class="input-group input-group-sm">
        <input id= "search" class="form-control form-control-navbar" type="search" placeholder="Search.." aria-label="Search">
        <div  class="input-group-append">
          <button id="search-btn" class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>


    <div class="welcome">

        Welcome to Fabcot CRM &copy;
        <span>
                Home Textile & Garment
        </span>
    </div>


    <div class="nav-icons">
      <ul class="navbar-nav ">
        <li class="nav-item">
        <button class="btn">
        <i class="fas fa-bell "></i>
        </button>

          <button class="btn">
        <i class="fas fa-sync-alt"></i>
        </button>
          
          <button class="btn">
        <i class="fas fa-sign-out-alt"></i>
        </button>
      </li>    
    </ul>
 
  </div>
   </nav>
  <!-- /.navbar -->






  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="assets/fab.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .9">
      <span class="brand-text font-weight-light">FabIntel</span>
    </a>




    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/copy.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="https://www.google.com/search?q=ali+waseem&spell=1&sa=X&ved=2ahUKEwiCvtGnjcjuAhVNeMAKHbPGB0QQBSgAegQIBRAs&biw=1366&bih=657" class="d-block">Ali Waseem</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <div class="bar">
      <nav  class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item">
                <a routerLink="home" class="nav-link">
                <i class="fa fa-home"></i>
                  <p>Home</p>
                </a>
              </li>

              <li class="nav-item">
                <a routerLink="list" class="nav-link">
                  <i class="fas fa-business-time"></i>
                  <p>Business Enquiry</p>
                </a>
              </li>

                 <li class="nav-item">
                <a routerLink="home" class="nav-link">
                <i class="fas fa-file-contract"></i>
                  <p>Contracts</p>
                </a>
              </li>

                 <li class="nav-item">
                <a routerLink="home" class="nav-link">
                  <i class="far fa-money-bill-alt"></i>
                  <p>Billing & Payment</p>
                </a>
              </li>

                 <li class="nav-item">
                <a routerLink="home" class="nav-link">
                <i class="fas fa-brain"></i>
                  <p>Productvity</p>
                </a>
              </li>

                 <li class="nav-item">
                <a routerLink="home" class="nav-link">
                <i class="fas fa-chart-line"></i>
                  <p>Reports</p>
                </a>
              </li>

                 <li class="nav-item">
                <a routerLink="home" class="nav-link">
                <i class="fas fa-cloud"></i>
                  <p>Cloud Documents</p>
                </a>
              </li>

                 <li class="nav-item">
                <a class="nav-link">
                <i class="fas fa-cogs"></i>
                  <p>Configuration</p>
                  <i class="right fas fa-angle-left"></i>
                </a>
                <ul class="nav nav-treeview sublist">
                  <li class="nav-item">
                    <a routerLink="buyer" class="nav-link">
                      <i class="fas fa-hands-helping"></i> 
                      <p>Buyers</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="seller" class="nav-link">
                      <i class="fas fa-industry"></i>
                      <p>Sellers</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="agent" class="nav-link">
                      <i class="fas fa-user-tie"></i>
                      <p>Foreign External Agents</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="article" class="nav-link">
                      <i class="fas fa-anchor"></i>
                      <p>Articles</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="product" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Product</p>
                      <i class="right fas fa-angle-left"></i>
                    </a>
                    <ul class="nav nav-treeview sublist">
                      <li class="nav-item">
                        <a href="#" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Fabric Type</p>
                        </a>
                      </li><li class="nav-item">
                        <a href="#" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Packing</p>
                        </a>
                      </li><li class="nav-item">
                        <a href="#" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Price Term</p>
                        </a>
                      </li><li class="nav-item">
                        <a href="#" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Payment Term</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a routerLink="textile" class="nav-link">
                      <i class="fas fa-tshirt"></i>
                      <p >Textile/Garments</p>
                      <p><i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview sublist">
                      <li class="nav-item">
                        <a href="#" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Process</p>
                        </a>
                      </li> 
                      <li class="nav-item">
                        <a href="#" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Process Type</p>
                        </a>
                      </li> 
                      <li class="nav-item">
                        <a href="#" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Design Type</p>
                        </a>
                      </li> 
                      <li class="nav-item">
                        <a href="#" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Loom Type</p>
                        </a>
                      </li> 
                      <li class="nav-item">
                        <a href="#" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Certificate</p>
                        </a>
                      </li> 
                      <li class="nav-item">
                        <a href="#" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Color</p>
                        </a>
                      </li> 
                      <li class="nav-item">
                        <a href="#" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Time & Action Items</p>
                        </a>
                      </li> 
                    </ul>

                  </li>
                  <li class="nav-item">
                    <a routerLink="bankInfo" class="nav-link">
                      <i class="fas fa-calculator"></i>
                      <p>Bank Info</p>
                      <i class="right fas fa-angle-left"></i>
                    </a>
                    <ul class="nav nav-treeview sublist">
                      <li class="nav-item">
                        <a href="#" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Bank</p>
                        </a>
                      </li> 
                      <li class="nav-item">
                        <a href="#" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>Bank Account</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a routerLink="city-location" class="nav-link">
                      <i class="fas fa-map-marker-alt"></i>
                      <p>City Location</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="country" class="nav-link">
                      <i class="far fa-map"></i>
                      <p>Country</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="organization" class="nav-link">
                      <i class="fas fa-sitemap"></i>
                      <p>Organization</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="generalsettings" class="nav-link">
                      <i class="fas fa-wrench"></i>
                      <p>General Settings</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="notificationsettings" class="nav-link">
                      <i class="fas fa-bell"></i>
                      <p>Notification Settings</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="currency-rate" class="nav-link">
                      <i class="fab fa-btc"></i>
                      <p>Currency Rate</p>
                    </a>
                  </li>
                </ul>
              </li>

                 <li class="nav-item">
                <a routerLink="home" class="nav-link">
                <i class="fas fa-question-circle"></i>
                  <p>Help</p>
                </a>
              </li>
               
               
               
               
               
               <!--  <li class="nav-item">
                <a routerLink="home" class="nav-link">
                <i class="fa fa-home"></i>
                  <p>Home</p>
                </a>
              </li> -->
             
         
          <!-- <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Forms
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="pages/forms/general.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>General Elements</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/forms/advanced.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Advanced Elements</p>
                </a>
              </li>
            </ul>
          </li> -->

          <!-- <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Tables
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="pages/tables/simple.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Simple Tables</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/tables/data.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>DataTables</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/tables/jsgrid.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>jsGrid</p>
                </a>
              </li>
            </ul>
          </li> -->
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
     </div>
  </aside>



  <div class="content-wrapper"> 
    <div class="innerBody">
      <router-outlet></router-outlet>
    </div>
  </div>

