h5{
    color: grey;
    /* margin-left: 40%;   */
}

input,textarea,option,select{
    font-size: 11px;
    color: grey;
    border-radius: 0px;
}
label{
    text-align: right;
    font-size: 11px;
    color: grey;
}

.button-save{
    background-color: #1ab394;
    color: ivory;
}
.error{
    border:1px solid #e03a37 !important;
    border-left: 3px solid #e03a37 !important;
    background-repeat: no-repeat;
    background-position: center right 20px;
    background-image:  url('/assets/caution.png');
    background-size: 15px;
}
span {
    color: red;
}
.form-control{
    box-shadow: 0 0 0 0 !important;
}