td {
  width: 33.3%;
  border: none;
  float: left;
  font-size: 20px;
}
.text {
  font-weight: 500;
}
.float-e-margins .btn {
  margin-bottom: 5px;
}
.text-s-md {
  font-size: 20px;
}
.m-r-sm {
  margin-right: 10px;
}
