

  <div class="modal-header">
    <h5 class="modal-title">
      <i class="far fa-edit"></i>
      Add new City
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form #addAgentForm="ngForm" novalidate>
 

          <div class="form-group row" [class.has-error]="name.invalid && name.touched">
            <label for="name" class="col-sm-3 col-form-label control-label">City Name </label>
            <div class="col-sm-9">
              <input required id="name" type="text" class="form-control" placeholder="Name" name="name"
                [(ngModel)]="data.name" #name="ngModel" [ngClass]="{'error': name.invalid && name.touched}">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Country</label>
            <div class="col-sm-9">
              <select name="country " class="form-control" [(ngModel)]="countryId">
                <option value="null" disabled> Select Country</option>
                <option *ngFor="let i of country" [value]="i.id">
                  {{i.name}}
                </option>
              </select>
            </div>
          </div>

        
     
      <div class="form-group row">
        <label for="details" class="col-sm-3 col-form-label">Details</label>
        <div class="col-sm-9">
          <textarea required class="form-control" id="details" rows="3" name="details"
            [(ngModel)]="data.details" #details="ngModel"></textarea>
        </div>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input check-btn" type="checkbox" checked>
        <label class="form-check-label">Marked as Active</label>
      </div> 
      <div class="modal-footer">
        <button class="btn button-save" type="submit" (click)="addCity()">
         Save City
        </button>
      </div>
    </form>
  </div>
