<div class="content-wrapper">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popForm">
    Add Buyer
  </button>

  <div class="container mt-4">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of buyer">
          <th scope="row">{{i.id}}</th>
          <td>{{i.buyerName}}</td>
          <td class="text-right v-align-top">
            <button type="button" class="btn editIconBack" (click)="editBuyer(i)">
              <i class="far fa-edit "></i>
            </button>
            <button type="button" class="btn deleteIconBack" (click)="deleteBuyer(i)">
              <i class="far fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Delete Modal -->
  <!-- 
<div class="modal fade" id="popDeleteForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img src="/assets/warning.png" >
        <h5 class="modal-title"><span>Warning</span></h5>
      
      </div>
      <div class="modal-body">
        Are you sure you want to delete the Buyer ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" style="background-color: rgb(204, 0, 0);" 
              (click)="deleteBuyer(i)">Yes</button>
        <button type="button" class="btn btn-secondary"  data-dismiss="modal" aria-label="Close">No</button>
      </div>
    </div>
  </div>
</div>
 -->


  <!-- Modal -->
  <div class="modal fade" id="popForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <i class="far fa-edit"></i>
            Add new Buyer
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form  #userForm="ngForm" novalidate>
            <div class="form-group row" [class.has-error]="code.invalid && code.touched">
              <label for="code" class="col-sm-3 col-form-label control-label">Buyer Code <span>*</span></label>
              <div class="col-sm-9">
                <input required id="buyerCode" type="text" class="form-control " placeholder="Code" name="buyerCode"
                  [(ngModel)]="data.buyerCode" #code="ngModel" [ngClass]="{'error': code.invalid && code.touched}">
              </div>
            </div>


            <div class="form-group row">
              <label for="name" class="col-sm-3 col-form-label">Buyer Name<span>*</span></label>
              <div class="col-sm-9">
                <input required id="buyerName" type="text" class="form-control" placeholder="Name" name="buyerName"
                  [(ngModel)]="data.buyerName" #name="ngModel" [ngClass]="{'error': name.invalid && name.touched}">
              </div>
            </div>

            <div class="form-group row">
              <label for="bill-address" class="col-sm-3 col-form-label">Billing Address<span>*</span></label>
              <div class="col-sm-9">
                <textarea required class="form-control" id="buyerBillAddress" rows="3" name="buyerBillAddress"
                  [(ngModel)]="data.buyerBillAddress" #buyerBillAddress="ngModel"
                  [ngClass]="{'error': buyerBillAddress.invalid && buyerBillAddress.touched}"></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label for="delivery-address" class="col-sm-3 col-form-label">Delivery Address<span>*</span></label>
              <div class="col-sm-9">
                <textarea required class="form-control" id="buyerDiliveryAddress" rows="3" name="buyerDiliveryAddress"
                  [(ngModel)]="data.buyerDiliveryAddress" #buyerDiliveryAddress="ngModel"
                  [ngClass]="{'error': buyerDiliveryAddress.invalid && buyerDiliveryAddress.touched}"></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label for="country" class="col-sm-3 col-form-label">Country<span>*</span></label>
              <div class="col-sm-9">
                <select class="form-control" name="countryId" [(ngModel)]="countryId">
                  <option value="null" disabled> Select Country</option>
                  <option *ngFor="let i of country" [value]="i.id">
                    {{i.name}}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="buyerContact" class="col-sm-3 col-form-label">Contact Nos.<span>*</span></label>
              <div class="col-sm-4">
                <input required type="text" class="form-control" id="buyerContact" placeholder="Contact No."
                  name="buyerContact" [(ngModel)]="data.buyerContact" #buyerContact="ngModel"
                  [ngClass]="{'error': buyerContact.invalid && buyerContact.touched}">
              </div>
              <div class="col-sm-4 ml-2">
                <input type="text" class="form-control" id="buyerOtherContact" placeholder="Other Contact No."
                  name="buyerOtherContact" [(ngModel)]="data.buyerOtherContact" #buyerOtherContact="ngModel"
                  [disabled]=" buyerContact.invalid">
              </div>
            </div>

            <div class="form-group row">
              <label for="buyerFax" class="col-sm-3 col-form-label">Fax Number</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="buyerFax" placeholder="Buyer Fax No." name="buyerFax"
                  [(ngModel)]="data.buyerFax" #buyerFax="ngModel">
              </div>
            </div>

            <div class="form-group row">
              <label for="buyerNTN" class="col-sm-3 col-form-label">NTN/GST Nos.</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="buyerNTN" placeholder="NTN No." name="buyerNTN"
                  [(ngModel)]="data.buyerNTN" #buyerNTN="ngModel">
              </div>
              <div class="col-sm-4 ml-2">
                <input type="text" class="form-control" id="buyerGST" placeholder="GST No." name="buyerGST"
                  [(ngModel)]="data.buyerGST" #buyerGST="ngModel">
              </div>
            </div>

            <div class="form-group row">
              <label for="buyerDetails" class="col-sm-3 col-form-label">Buyer Details</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="buyerDetails" rows="4" name="buyerDetails"
                  [(ngModel)]="data.buyerDetails" #buyerDetails="ngModel"></textarea>
              </div>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input check-btn" type="checkbox" checked>
              <label class="form-check-label">Parent Buyer</label>
            </div>

            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-3 col-form-label">Parent Buyer</label>
              <div class="col-sm-9">
                <select class="form-control">
                  <option> Ali</option>
                  <option> Ali</option>
                  <option> Ali</option>
                  <option> Ali</option>
                  <option> Ali</option>
                </select>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button class="btn button-save" type="submit" (click)="addBuyer()" [disabled]="userForm.invalid">Update
                Buyer</button>
            </div>
          </form>




        </div>
      </div>
    </div>
  </div>